<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a *ngIf="User.id" class="navbar-brand border border-success p-2 rounded" routerLink="/profil">{{User.firstname}} </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active m-1" aria-current="page" routerLink="">Home</a>
          </li>
          <!-- if user connected -->
         
          <li class="nav-item" *ngIf="User.id">
            <a class="nav-link active m-1" aria-current="page" routerLink="/seating-plan">Plan de tables</a>
          </li>
          <!-- if user not connected -->
          <li class="nav-item" *ngIf="!User.id">
            <a class="nav-link active m-1" aria-current="page" routerLink="/register">Inscription</a>
          </li>
        </ul>
        
        <li class="nav-item text-decoration-none " *ngIf="!User.id">
          <a class="nav-link active p-2" aria-current="page" routerLink="/login" >Connexion</a>
        </li>
        <li class="nav-item text-decoration-none" *ngIf="User.id">
          <a class="nav-link active p-2" aria-current="page" href="" (click)="logout()">Déconnexion</a>
        </li>
      </div>
    </div>
  </nav>
